footer {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    border-top: 2px solid #272727;
}

footer nav ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 1em;
    list-style-type: none;
    background: #1E1E1E;
    box-shadow:
        5px 5px 10px rgba(71, 72, 73, .2),
        -5px -5px 10px #222429;
}

footer nav ul>li {
    display: block;
    padding: .5em 0 .5em 1.5em;
    text-decoration: none;
}

/* footer nav ul > .nav-right {
    margin-left: auto;
    padding-right: 1.5em;
} */

/* footer nav ul > li:last-child {
    margin-left: auto;
    padding-right: 1.5em;
} */

/* Средние экраны */
@media all and (max-width: 800px) {
    footer nav ul {
        justify-content: space-around;
    }

    footer nav ul>.nav-right {
        margin-left: 0;
    }
}

/* Маленькие экраны */
@media all and (max-width: 500px) {
    footer nav ul {
        flex-direction: column;
        text-align: center;
    }
}