%card {
    display: flex;
    flex-direction: column-reverse;
    overflow: auto;
    margin: 10px;
    border-radius: 6px;
    transition: all .3s cubic-bezier(0, 0, .5, 1);
    backdrop-filter: saturate(180%) blur(20px);
    background: rgba(29, 29, 31, 0.72);
    text-shadow: 1px 1px 8px rgb(7, 7, 7), 1px 0 12px rgba(0, 0, 0, 0.929);
    // box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

    time {
        background-color: rgb(43, 43, 43);
        padding: .2em .8em;
        border-radius: 20px;
    }

    .title {
        letter-spacing: -1px;
        font-size: 2.5rem;
        line-height: 1.2;
        font-weight: 500;
        letter-spacing: -0.05rem;
        margin: 1rem 0;
    }

    .tags {
        max-width: 50%;
        color: rgb(192, 192, 192);
        word-wrap: break-word;
    }

    .tags span:not(:first-child)::before {
        content: " · ";
    }

    .flag {
        box-shadow: none;
        border-radius: 100%;
    }

    .info {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        position: absolute;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
        height: 100%;
        width: 100%;
        top: 0;
        opacity: 0;
    }

    .info:hover {
        backdrop-filter: saturate(180%) blur(10px);
        background-color: rgba(24, 24, 24, 0.45);
        animation: gradient 3s infinite linear;
        transition: .2s ease;
        opacity: 1;
    }

    .img-wrapper {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
    }

    img {
        box-shadow: inset 0 0 50px 40px #000;
    }

    a {
        text-decoration: none;
    }

    &:hover {
        transform: scale(1.03);
    }
}

.center {
    max-width: 60%;
    justify-content: center;
}

.end {
    justify-content: flex-end;
}

.S {
    @extend %card;
    flex: 1 1 30vh;
    width: 40vh;
    height: 20vh;
}

.M {
    @extend %card;
    width: 40vh;
    height: 80vh;
}

.L {
    @extend %card;
    width: 80vh;
    height: 80vh;

    @media (max-width: 1200px) {
        height: 100vh;
        width: 100vh;
    }
}