@import "vars.module";

.vertical-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.horizontal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  &::-webkit-scrollbar {
    display: none;
  }

  scrollbar-width: none;
  -ms-overflow-style: none;
}

.header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  word-break: break-word;
  width: 55%;
}

.main {
  width: 55%;
}

.cases {
  width: 100%;
}

@media (max-width: $breakpoint-l) {
  .main,
  .header {
    width: 90%;
  }
}

@media (max-width: $breakpoint-m) {
  .main,
  .header {
    width: 100%;
  }
}
