@import "vars.module";
@import "utils.module";

.navbar {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: 0.9rem;
  z-index: 9;

  @media (max-width: $breakpoint-m) {
    & {
      justify-content: center;
    }
  }
}

.items {
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
  backdrop-filter: blur(3px);
  transition: all 0.4s cubic-bezier(0, 0, 0.5, 1);
  width: 100%;

  & {
    transition: transform 0.2s ease-in-out;

    &:hover {
      transform: scale(1.08);
    }
  }

  li {
    background: #151516;
  }

  li a {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 1em 1em;
    width: 8em;
  }

  li:first-child {
    margin-left: 0;
    border-radius: $radius-s 0 0 $radius-s;
  }

  li:last-child {
    border-radius: 0 $radius-s $radius-s 0;
  }

  @media (max-width: $breakpoint-m) {
    li:first-child {
      margin-left: 0;
      border-radius: 0 0 0 0;
    }

    &:hover {
      transform: scale(1);
    }
  }
}

.item {
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
  backdrop-filter: blur(3px);
  transition: all 0.4s cubic-bezier(0, 0, 0.5, 1);
  width: 100%;

  & {
    transition: transform 0.2s ease-in-out;

    &:hover {
      transform: scale(1.08);
    }
  }

  li {
    background: #151516;
    border-radius: $radius-s;
  }

  li a {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 1em 1em;
    width: 8em;
  }

  li:hover {
    background: #202020;
    transition: 1s;
  }

  @media (max-width: $breakpoint-m) {
    li {
      margin-left: 0;
      border-radius: $radius-s 0 0 $radius-s;
    }

    &:hover {
      transform: scale(1);
    }
  }
}

.left {
  border-radius: $radius-m;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 4px 0px rgba(0, 0, 0, 0.1), 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
}

.right {
  ul > li > a {
    width: 4em;
  }
}

.burger {
  display: none;

  button {
    border: none;
    font-size: 1em;
    background-color: #19191b;
    border-radius: $radius-s $radius-s 0;
    padding: 1em;
    width: 4em;
    cursor: pointer;
  }

  span {
    display: block;
    position: relative;
    width: 2em;
    height: 2em;
    margin: auto;
  }
}

.backArrow {
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 14px;
  margin-right: 6px;
  margin-bottom: 1px;
  transform: scale(1.1);
}
