.cards {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    cursor: grab;
}

.card {
    border: 2px solid #272727;
    background-color: #1E1E1E;
    width: 350px;
    min-width: 400px;
    min-height: 550px;
    margin: 40px 10px;
    display: flex;
    flex-direction: column;
}

.card > * {
    margin: 20px;
}