* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --bg: #202020;
    --bg-sub: #1E1E1E;
    --text: #fff;
    --text-sub: #c9e1ff;
    --link: rgb(236, 236, 236);
    --primary: #2250F5;
    --secondary: #5526FF;
    --white-color: rgba(255, 255, 255, 1.0);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 1em;
    /* font-size: calc(0.6em + 0.5vw); */
    font-weight: 400;
}

/* Анимация фокуса клавиатуры */
@media (prefers-reduced-motion: no-preference) {
    :focus {
        transition: outline-offset .25s ease;
        outline-offset: 5px;
    }
}

/* Выделение текста */
::selection {
    background: var(--secondary);
    color: white;
    caret-color: blue;
}

body {
    background: var(--bg);
    background-image:
        linear-gradient(rgba(255, 255, 255, 0.05) 2px, transparent 2px),
        linear-gradient(90deg, rgba(255, 255, 255, 0.05) 2px, transparent 1px),
        linear-gradient(rgba(255, 255, 255, 0.07) 1px, transparent 1px),
        linear-gradient(90deg, rgba(255, 255, 255, 0.07) 1px, transparent 1px);
    --bgs: calc(100vw / 80);
    --bgm: calc(100vw / 20);
    background-size:
        var(--bgs) var(--bgs),
        var(--bgs) var(--bgs),
        var(--bgm) var(--bgm),
        var(--bgm) var(--bgm);
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
    /* box-shadow: inset 0px 0px 100px 60px var(--bg); */
    background-blend-mode: soft-light;
    width: 100%;
    height: 100vh;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.screen {
    color: var(--text);
    text-shadow:
        1px 1px 5px rgba(170, 170, 170, 0.6),
        1px 0 8px rgba(170, 170, 170, 0.3);
}

h1 {
    padding: 1em 0;
}

input:focus {
    color: rgb(26, 24, 24);
}

a {
    text-decoration: underline;
    text-decoration-skip-ink: auto;
}

a:link {
    color: var(--link);
    text-decoration: none;
}

a:visited {
    color: var(--link);
}

a:hover {
    color: var(--link-hover);
    transition: all .7s;
}

/* a:active {
    color: red;
} */

/* [START] - Основная разметка */

.screen {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.screen>main {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.content {
    min-width: 80%;
    margin: 0 auto;
}

header {
    flex-shrink: 0;
}

/* [END] - Основная разметка */