@import "vars.module";

.case {
    img {
        text-align: center;
        width: 400px;
    }
}

.selected {
    color: #9eafec;
    // background-color: #111111;
}

.unselected {}

%icon {
    width: .9em;
    height: .9em;
    background-size: cover;
}

.icon-dribbble {
    @extend %icon;
    background-image: url(/images/dribbble.svg);
}

.icon-github {
    @extend %icon;
    background-image: url(/images/github.svg);
}

.icon-linkedin {
    @extend %icon;
    background-image: url(/images/linkedin.svg);
}

.icon-menu {
    @extend %icon;
    background-image: url(/images/menu.svg);
}

@keyframes gradient {
    0% {
        background-position: 20% 0%;
    }

    20% {
        background-position: 40% 20%;
    }

    40% {
        background-position: 60% 40%;
    }

    60% {
        background-position: 100% 100%;
    }

    80% {
        background-position: 60% 40%;
    }

    100% {
        background-position: 20% 0%;
    }
}