$primary-color: #2250f5;
$secondary-color: #5526ff;
$primary-text-color: #d8d8d8;
$secondary-text-color: #767676;
$tertiary-text-color: #cacacacc;
$primary-background-color: #2b2b2b80;
$secondary-background-color: rgba(73, 73, 73, 0.3);
$bg: #202020;
$bg-sub: #1e1e1e;
$text: #fff;
$text-sub: #c9e1ff;
$link: #ececec;
$color-aqua: aqua;
$color-blue: blue;
$color-green: green;

$font-path: "../public/fonts";

$breakpoint-xl: 1200px;
$breakpoint-l: 992px;
$breakpoint-m: 768px;
$breakpoint-s: 576px;

$radius-m: 2em;
$radius-s: 1em;

$shadow-hover: 0 1px 3px #0000001f, 0 1px 2px #0000003d;

$offset-l: 0.6rem;
$offset: 0.2rem;
