.showcase-scroll {
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.showcase-container {
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

%basic {
    display: flex;
    flex-direction: column;
    margin: 20px 10px 0;
    border: 2px solid #2c2b2b;
    border-radius: 4px;
    background: #1E1E1E;
    box-shadow:
        5px 5px 10px rgba(71, 72, 73, .2),
        -5px -5px 10px #222429;

    * {
        margin: 20px;
    }
}

.small {
    @extend %basic;
    flex: 1 1 30vh;
    width: 400px;
    height: 20vh;
}

.medium {
    @extend %basic;
    width: 80vh;
    height: 80vh;
}

.large {
    @extend %basic;
    width: 80vh;
    height: 80vh;
}