@import "variables.module";

@font-face {
  font-family: "BP";
  src: url($font-path + "/BlenderPro-Thin.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "BP";
  src: url($font-path + "/BlenderPro-Medium.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "BP";
  src: url($font-path + "/BlenderPro-Book.woff2") format("woff2");
  font-weight: 600;
}

@font-face {
  font-family: "BP";
  src: url($font-path + "/BlenderPro-Heavy.woff2") format("woff2");
  font-weight: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
  background: rgb(0, 0, 0);
  background-image:
    linear-gradient(rgba(4, 4, 4, 0.14) 2px, transparent 2px),
    linear-gradient(90deg, rgba(4, 4, 4, 0.14) 2px, transparent 1px),
    linear-gradient(rgba(10, 10, 10, 0.3) 1px, transparent 1px),
    linear-gradient(90deg, rgba(10, 10, 10, 0.3) 1px, transparent 1px), ;
  $bgs: calc(100vw / 40);
  $bgm: calc(100vw / 20);
  background-size:
    $bgs $bgs, $bgs $bgs,
    $bgm $bgm, $bgm $bgm;
  background-position:
    -2px -2px, -2px -2px,
    -1px -1px, -1px -1px;
  text-shadow:
    1px 1px 5px rgba(170, 170, 170, 0.6),
    1px 0 6px rgba(170, 170, 170, 0.3);
  font: normal normal 500 1em "BP", sans-serif;
  color: $white-color;
}

a {
  text-decoration: underline #ffffff7a solid 1.5px;
  color: inherit;
}

h3 {
  font-size: 1.2em;
  font-weight: 500;
}